on boot
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/measured_fps
    chmod 0666 /sys/class/graphics/fb0/measured_fps
    chown system graphics /sys/devices/virtual/graphics/fb0/measured_fps
    chmod 0666 /sys/devices/virtual/graphics/fb0/measured_fps

    # Swap Hardware Keys
    chown system system /proc/s1302/key_rep
    chmod 0660 /proc/s1302/key_rep
