<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.overlay.settings.oneplus.cheeseburger"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.settings"
                android:requiredSystemPropertyName="ro.vendor.oneplus.device"
		android:requiredSystemPropertyValue="cheeseburger"
		android:priority="800"
		android:isStatic="true" />
</manifest>
